.dashboardNav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0px 30px;
}
.exerciseCardsContainers{
    display: flex;
    justify-content: center;
    align-items: center;
}