.dashboardMainContainer{
    width: 100vw;
    min-height: 100vh;
    display: flex;
}
.leftRouting{
    height: 100%;
    max-width: 290px;
    background-color: white;
    flex-grow: 1;
    transition: 1s ease-in-out;
}
.rightSideOfDashBoardContainer{
    flex-grow: 4;
    min-height: 100%;
    background-color: rgb(245, 241, 241);
}
.showLeftRouting{
    position: fixed;
    display: block;
    background-color: white;
    height: 100%;
    width: 50vw;
    flex-grow: 1;
    visibility: visible;
    animation: slideInLeftRouting 0.8s;
}
@keyframes slideInLeftRouting {
    from {left: -400px;}
    to {left: 0px;}
  }
@keyframes slideOutLeftRouting {
    from {left: 0px;}
    to {left: -400px;}
}
@media (max-width:960px) {
    .leftRouting {
        position: fixed;
        max-width: 100%;
        transition: 1s ease-in-out;
        animation: slideOutLeftRouting 0.8s;
        position: absolute;
        left: -400px;
    }
    .cancelToggle{
        font-size: 2rem;
        padding-left: 20px;
        padding-top: 20px;
        cursor: pointer;
    }
}
@media (max-width:450px) {
    .showLeftRouting{
        width: 70vw;
    }
}