.leftNavigationDashboard {
  background-color: #e2f2fb;
  min-height: 100vh;
  width: inherit;
  height: 100%;
}
.navListing {
  height: 300px;
  padding: 200px 0px;
  width: 100%;
  position: sticky;
  top: 0px;
}
.specificNav {
  padding: 10px 0px;
  margin: 2px 0px;
}
.navItem {
  margin: 30px;
}
.specificNav:hover {
  cursor: pointer;
}
.specificNavActive {
  background-color: #ffffff;
}
.specificNavNotActive {
  background-color: #f6fbfe;
}
.iconActive {
  color: #ff3462;
}
.iconNotActive {
  color: #f6b4c8;
}
.leftNavigationDashboardFixedPosition {
  width: 270px;
  position: relative;
}
.close_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10000;
  cursor: pointer;
  visibility: hidden;
  display: none;
}
@media (max-width: 900px) {
  .leftNavigationDashboardFixedPosition {
    position: absolute;
    z-index: 11;
    transition: 1s ease;
    left: -400px;
    animation-name: hide;
    animation-duration: 2s;
  }
  .hamburger-to-navbar {
    left: 0px;
    animation-name: show;
    animation-duration: 1s;
  }
  .close_icon {
    visibility: visible;
    display: inline;
  }
}
@keyframes hide {
  0% {
    left: 0;
  }
  100% {
    left: -400px;
  }
}
@keyframes show {
  0% {
    left: -400px;
  }
  100% {
    left: 0px;
  }
}
