.searchInput {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.searchInput input {
  font-size: 18px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 45%;
  height: 52px;
  background: 0 0;
  padding: 0 5px;
  border: none;
  border-bottom: 2px solid rgb(168, 164, 164);
  outline: none;
}
.noExerciseYet {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  font-size: 20px;
}
.addExerciseInput {
  display: flex;
  justify-content: center;
}
.addExerciseButton {
  color: #ff3462;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 15px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.addExerciseButton:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}

@media (max-width: 1050px) {
  .addExerciseButton {
    padding: 9px;
  }
}
@media (max-width: 620px) {
  .searchInput > input {
    width: 250px;
    text-align: center;
    margin: auto;
  }
  .addExerciseButton {
    height: 20px;
    margin: auto auto 0 auto;
    font-size: 15px;
    padding: 7px;
  }
  .searchInput {
    flex-direction: column-reverse;
  }
}
