.dashboard {
  display: flex;
  align-items: center;
  width: 100%;
  color: #5e5f5c;
  height: 80px;
  justify-content: space-between;
  margin: 20px 0px;
}
.pageText {
  text-transform: uppercase;
  font-size: 40px;
}
li {
  list-style: none;
}
.personalInfo > li {
  display: inline-block;
  margin: 0px 10px;
}
.dashboardContainer {
  position: relative;
  width: 90%;
  margin: auto;
}
.cursorHover:hover {
  cursor: pointer;
}
.pictureLi {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.profilePicture {
  background-image: url("https://i.stack.imgur.com/l60Hf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.personalInfo {
  display: flex;
  align-items: center;
}
.hamburger {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -30px;
  height: 100%;
  font-size: 27px;
  cursor: pointer;
  top: 10px;
  color: #5e5f5c;
}
@media (max-width: 1050px) {
  .pictureLi {
    width: 50px;
    height: 50px;
  }
  .personalInfo > li {
    margin: 0px 5px;
  }
}
@media (max-width: 900px) {
  .mediaDisplay {
    display: none !important;
    visibility: hidden !important;
  }
  .pageText {
    font-size: 25px;
  }
  .hamburger {
    display: inline;
    visibility: visible;
  }
}
@media (max-width: 700px) {
  .hamburger {
    left: -20px;
  }
}
