.exerciseContainer {
  margin: 2rem 0px;
  width: 100%;
}
.exerciseInnerContainer {
  margin: auto;
  width: 93%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  animation: slide-up 0.4s ease;
}
.downloadProgress {
  color: #ff3462;
  text-decoration: underline;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 15px;
  transition: 0.4s ease-in-out;
  text-align: center;
}
.addProgress {
  border-radius: 5px;
  background-color: #ff3462;
  padding: 15px;
  transition: 0.4s ease-in-out;
  text-align: center;
}
.addProgress:hover,
.downloadProgress:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}
.personalInfoDiv {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
}
.downloadAndAddProgress {
  display: flex;
  justify-content: center;
  align-self: center;
}
.whiteColor {
  color: white;
  font-size: 16px;
}
.leftPadding {
  margin: 0px 12px;
}
.bold {
  font-weight: bold;
  color: #5e5f5c;
}
.exerciseName {
  padding: 20px;
  font-size: 24px;
}
.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
}
.graphContainer {
  width: 50%;
}
.statsContainer {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.months {
  display: flex;
}
.monthActive {
  border-radius: 5px;
  background-color: #ff3462;
  padding: 7px 7px;
  margin: auto;
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}
.monthArrow {
  border-radius: 5px;
  background-color: #f184a1;
  padding: 7px 7px;
  margin: auto 5px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}
.monthActive:hover,
.monthArrow:hover {
  transition: 0.2s ease-in-out;
}
.monthArrow:hover,
.insertProgressButton:hover {
  cursor: pointer;
}
.exerciseName::first-letter {
  text-transform: capitalize;
}
.insertProgressContainer {
  display: block;
  width: 50%;
  position: relative;
  animation: slide-up 0.4s ease;
}
.insertProgressContainer > input,
.insertProgressContainer button,
.insertProgressButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.weightUnit {
  display: flex;
  width: 70%;
  margin: auto;
  padding: 15px 0px;
}
.insertProgressContainer > input {
  font-size: 18px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 50%;
  height: 52px;
  background: 0 0;
  padding: 0 5px;
  border: none;
  border-bottom: 2px solid rgb(168, 164, 164);
  outline: none;
}
.insertProgressButton {
  border-radius: 5px;
  background-color: #ff3462;
  padding: 15px;
  transition: 0.4s ease-in-out;
  color: #fff;
  width: 70%;
}
.slider {
  height: 40px;
  width: 70%;
}
.lbs,
.kg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15%;
  font-size: 18px;
  color: #555;
  line-height: 1.2;
  width: 45%;
  height: 52px;
  border: none;
  outline: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.weightUnitActive {
  background-color: #f184a1;
  border-radius: 5px;
}
.insertProgressContainer .exitIcon {
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.whiteSeparator {
  display: none;
  visibility: hidden;
}
.hidden {
  visibility: hidden;
}
@media (max-width: 1050px) {
  .contentContainer {
    display: block;
  }
  .graphContainer {
    width: 100%;
  }
  .statsContainer {
    width: 80%;
    margin: auto;
  }
  .dashboardEditableRowContainer {
    display: flex;
    padding: 10px 0px;
  }
  .insertProgressContainer {
    width: 100%;
    padding-bottom: 20px;
  }
  .whiteSeparator {
    display: block;
    visibility: visible;
    height: 20px;
  }
}
@media (max-height: 760px) {
  .loginTitle,
  .signUpTitle {
    top: -40px !important;
  }
}
@media (max-height: 650px) {
  .signUpInnerContainer,
  .loginInnerContainer {
    top: 40px;
    height: 400px !important;
  }
}
@media (max-width: 620px) {
  .personalInfoDiv {
    font-size: 14px;
  }
  .downloadAndAddProgress {
    display: block;
  }
  .addProgress,
  .downloadProgress {
    padding: 8px 10px;
    margin: 3px 0px;
  }
  .statsContainer {
    width: 90%;
  }

  tbody {
    font-size: 14px;
  }
  .signUpCenterContainer,
  .loginCenterContainer {
    padding-top: 20px;
  }
  .signUpInnerContainer,
  .loginInnerContainer {
    width: 70%;
  }
  .loginTitle,
  .signUpTitle {
    padding: 15px 0px !important;
    font-size: 20px !important;
  }
}
@media (max-width: 400px) {
  .addProgress,
  .downloadProgress {
    font-size: 13px;
  }
  .addProgress,
  .downloadProgress {
    padding: 8px 10px;
    margin: 5px 0px;
  }
  tbody {
    font-size: 12px;
  }
  .signUpInnerContainer,
  .loginInnerContainer {
    width: 90%;
  }
}
@media (max-width: 300px) {
  .downloadProgress,
  .addProgress,
  .monthActive {
    padding: 8px 4px;
    font-size: 11px;
  }
  .personalInfoDiv,
  .statsContainer {
    width: 95%;
  }
  .monthArrow {
    height: 14px;
  }
  thead {
    font-size: 14px;
  }
  tbody {
    font-size: 12px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
