.exerciseContainer {
  margin: 2rem 0px;
  width: 100%;
}
.exerciseInnerContainer {
  margin: auto;
  width: 93%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.downloadProgress {
  color: #ff3462;
  text-decoration: underline;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 15px;
  transition: 0.4s ease-in-out;
}
.addProgress {
  border-radius: 5px;
  background-color: #ff3462;
  padding: 15px;
  transition: 0.4s ease-in-out;
}
.addProgress:hover,
.downloadProgress:hover,
.filter:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}
.personalInfoDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.downloadAndAddProgress {
  display: flex;
  justify-content: center;
  align-self: center;
}
.whiteColor {
  color: white;
  font-size: 16px;
}
.leftPadding {
  margin: 0px 12px;
}
.filter {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 10px 25px;
  transition: 0.4s ease-in-out;
}
.bold {
  font-weight: bold;
}
.exerciseName {
  padding: 20px;
  font-size: 24px;
}
.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
}
.contesntInnerContainer {
  display: flex;
  width: 95%;
  margin: auto;
}
.graphContainer {
  width: 50%;
}
.statsContainer {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 6px solid #71c0ee;
  color: #f66c90;
  font-size: 26px;
  font-weight: bold;
  margin: 20px 10px;
}
.months {
  display: flex;
}
.monthActive {
  border-radius: 5px;
  background-color: #ff3462;
  padding: 7px 7px;
  margin: 0px 5px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}
.monthArrow {
  border-radius: 5px;
  background-color: #f184a1;
  padding: 7px 7px;
  margin: 0px 5px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}
.monthActive:hover,
.monthArrow:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.exerciseName::first-letter {
  text-transform: capitalize;
}
